<h1 class="display-3 fw-bolder mb-5" ><span class="text-gradient">Get to know about me</span></h1>

<p  class="mb-4">about-me works!</p>

<div class="d-flex justify-content-center">
    <a download="" href="../../assets/Profile.pdf" class="d-flex justify-content-center align-items-center bg-gradient-primary-to-secondary text-white rounded-4 mb-4 border-0">
        <i class="fa-solid fa-download mx-2" style="height: 20; width: 20;"></i><span class="mx-2">Download CV</span>
    </a>
</div>

<div class="justify-content-center">
    <div class="d-flex flex-column">
        <div class="row d-flex justify-content-center">
            <div class="col col-md-7 col-sm-9 col-xs-11 card overflow-hidden shadow rounded-4 border-0 mb-5">
                <div class=" card-body p-0">
                    <div class="d-flex flex-column">
                        <div class="mb-5 mx-3">
                            <div class="d-flex align-items-center mb-4">
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Experience</span></h3>
                            </div>

                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="mb-2 mx-3">
                                    <div class="text-wrap shadow">
                                        <h4 class="fw-bolder" ><span class="text-gradient">UPTC</span></h4>
                                        <p>description</p>
                                    </div>
                                </div>
                                <div class="mb-2 mx-3">
                                    <div class="text-wrap shadow">
                                        <h4 class="fw-bolder" ><span class="text-gradient">UPTC</span></h4>
                                        <p>description</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col col-md-7 col-sm-9 col-xs-11 card overflow-hidden shadow rounded-4 border-0 mb-5">
                <div class=" card-body p-0">
                    <div class="d-flex flex-column">
                        <div class="mb-5 mx-3">
                            <div class="d-flex align-items-center mb-4">
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Education</span></h3>
                            </div>

                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="mb-2 mx-3">
                                    <div class="text-wrap shadow">
                                        <h4 class="fw-bolder" ><span class="text-gradient">UPTC</span></h4>
                                        <p>description</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
