<h1 class="display-3 fw-bolder mb-5" ><span class="text-gradient">Get to know about me</span></h1>

<p  class="mb-4">Here you can find some information about me such as my experience and my studies,
     this information is distributed in a timeline and describes each aspect along with its date.
      Additionally I have provided a button with which you can download my CV.</p>

<div class="d-flex justify-content-center">
    <a download="" href="../../assets/Profile.pdf" class="d-flex justify-content-center align-items-center bg-gradient-primary-to-secondary text-white rounded-4 mb-4 border-0">
        <i class="fa-solid fa-download mx-2" style="height: 20; width: 20;"></i><span class="mx-2">Download CV</span>
    </a>
</div>

<div class="justify-content-center">
    <div class="d-flex flex-column">
        <div class="row d-flex justify-content-center">
            <div class="col col-md-7 col-sm-9 col-xs-11 card overflow-hidden shadow rounded-4 border-0 mb-5">
                <div class=" card-body p-0">
                    <div class="d-flex flex-column">
                        <div class="mb-3 mx-3">
                            <div class="d-flex align-items-center mb-4">
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Experience</span></h3>
                            </div>

                            <ul class="timeline">
                                <li class="event" data-date="2021 - 2026">
                                    <h3>Registration</h3>
                                    <p>Get here on time, it's first come first serve. Be late, get turned away.</p>
                                </li>
                                <li class="event" data-date="2021 - 2026">
                                    <h3>Opening Ceremony</h3>
                                    <p>Get ready for an exciting event, this will kick off in amazing fashion with MOP &amp; Busta Rhymes as an opening show.</p>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col col-md-7 col-sm-9 col-xs-11 card overflow-hidden shadow rounded-4 border-0 mb-5">
                <div class=" card-body p-0">
                    <div class="d-flex flex-column">
                        <div class="mb-5 mx-3">
                            <div class="d-flex align-items-center mb-4">
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Education</span></h3>
                            </div>

                            <ul class="timeline">
                                <li class="event" data-date="2021 - Currently">
                                    <h3>Systems and Computer Engineering</h3>
                                    <p>Universidad Pedagogica y Tecnologica de Colombia</p>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
