  .github-star-badge {
    color: #2577ca;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(15, 55, 95, 0.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  a{
    text-decoration: none;
  }

  .go-top-cont{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    z-index: -1;
  }

  .go-top-button{
    width: 0rem;
    height: 0rem;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
  }

  .go-top-button ng-icon{
    position: absolute;
    font-size: 1.7 rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: .2s;
  }

  .show{
    z-index: 10;
  }

  .show .go-top-button{
    animation: popup .3s ease-in-out;
    width: 4rem;
    height: 4rem;
    z-index: 11;
  }

  .show ng-icon{
    transform: translate(-50%,-50%) scale(1);
  }

  @keyframes popup {
    0%{
      width: 0rem;
      height: 0rem;
    } 
    50%{
      width: 6rem;
      height: 6rem;
    } 
    100%{
      width: 4rem;
      height: 4rem;
    }
  }