<main class="flex-shrink-0">
  <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 border-bottom">
    <div class="container px-5">
        <a class="navbar-brand" ><span class="fw-bolder text-primary" routerLink="home">Harold Alvarado</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="aboutMe">About Me</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="skills">Skills</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="projects">Projects</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="contact">Contact</a></li>
            </ul>
        </div>
    </div>
  </nav>

  <section class="container-fluid text-center py-5">
    <router-outlet></router-outlet>
  </section>

  <footer class="border-top  py-4 mt-auto">
  
    <section class="p-2">
      <div class="d-flex justify-content-center">
        <a class="px-3" href="https://www.linkedin.com/in/harold-alvarado-178497291/">
          <i class="fa-brands fa-linkedin fa-beat fa-2xl"></i>
        </a>
        <a class="px-3" href="https://github.com/HarDep/">
          <i class="fa-brands fa-square-github fa-beat fa-2xl"></i>
        </a>
      </div>
    </section>
  
    <section class="text-center p-2 d-flex justify-content-center">
      <span class="text-gradient">Do you like this project?</span>
      <a class="ms-3" href="https://github.com/HarDep/" target="_blank" rel="noopener"> Give my repo a star
      </a>
      <a href="https://github.com/HarDep/">
        <span class="github-star-badge">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
          </svg>Star
        </span>
      </a>
    </section>

    <section>  
      <div class="text-center p-2">
        © Harold Alvarado, all rights reserved
      </div>
    </section>
  
  </footer>
</main>


